.card-wrapper{
    /* filter: blur(10px); */
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3), 
    0 6px 20px rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
}
.card {
    border:  solid 1px;
    width: 20%;
    position: absolute;
    padding: 1%;
    filter: none;   
    z-index: 1;

}
.image, .image img  {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;

}
.card-content{
    text-align: start;
    justify-content: end;
    margin: 3%;
    width: 100%;
}
/* .card-content h3,span, p {
    margin-left: 2%;
} */
 .language {
    font-size: 0.7rem;
    border-radius: 20px;
    margin-right: 3px;
    padding: 5px;
    color: #666666;
    border: solid 1px #666666 ;
 }
.card-btns {
    display: flex;
    justify-content: space-around;
}