.card-wrapper {
    background-color: red;
    filter: blur(10px);
    position: absolute;
    z-index: 3;
}
.card {
    
    width: 20%;
    height:40%;
    position: relative;
    padding: 1%;
    /* backdrop-filter: blur(10px) ; */
    filter: none;
    z-index: 1;

}
.image, .image img  {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;

}
.card-content{
    margin: 3%;
}
.card-btns {
    display: flex;
    justify-content: space-around;
}